<div class="row">
  <div class="col-xs-12">
    <p>Add new server and blueprint</p>
      <label >server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label for="">Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <br>   
        <button class="btn btn-primary"
            (click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary"
            (click)="onAddBlueprint()">add blueprint</button>
  </div>
</div>
