<div class="container">
    <div class="row mt-3 mb-3" >
        <div class="col-md-12"><h3>{{galryTitle}}</h3></div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="glry_box">
            <div class="glry___img main___box___img" >
              <img src="/assets/cars1.jpg" />
            </div>
            <div class="glry___content">
              <div class="glry___head mt-2">
                <h4>Car 1</h4>
              </div>
              <div class="glry___text">
                <p>car details </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
    
          <div class="glry_box">
            <div class="glry___img main___box___img">
              <img src="/assets/cars2.jpg" />
            </div>
            <div class="glry___content">
              <div class="glry___head mt-2">
                <h4>Car 1</h4>
              </div>
              <div class="glry___text">
                <p>car details </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
    
          <div class="glry_box box-shadow">
            <div class="glry___img main___box___img">
              <img src="/assets/cars3.jpg" />
            </div>
            <div class="glry___content">
              <div class="glry___head mt-2">
                <h4>Car 1</h4>
              </div>
              <div class="glry___text">
                <p>car details </p>
              </div>
            </div>
          </div>
        </div>   
      </div>
  <div class="row">
    <div class="col-md-4">

      <div class="glry_box">
        <div class="glry___img main___box___img">
          <img src="/assets/cars1.jpg" />
        </div>
        <div class="glry___content">
          <div class="glry___head mt-2">
            <h4>Car 1</h4>
          </div>
          <div class="glry___text">
            <p>car details </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="glry_box">
        <div class="glry___img main___box___img">
          <img src="/assets/cars2.jpg" />
        </div>
        <div class="glry___content">
          <div class="glry___head mt-2">
            <h4 class="primary-color">Car 1</h4>
          </div>
          <div class="glry___text">
            <p>car details </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="glry_box">
        <div class="glry___img main___box___img">
          <img src="/assets/cars3.jpg" />
        </div>
        <div class="glry___content">
          <div class="glry___head mt-2">
            <h4>Car 1</h4>
          </div>
          <div class="glry___text">
            <p>car details </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
